.v-container{
    padding: 1.5;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-container{
    width: 25rem;
    height: 30rem;
    margin:     50px;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container img {
    width: 100%;
}
.v-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.v-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}
.v-container>div{
    flex: 1;
}
.v-right{
    gap: 0.5rem; ;
}
.orangeText{
color: orange;
font-size: 1.5rem;
font-weight: 600;
}
.primaryText{
    color: rgb(219, 89, 89);
    font-weight: bold;
    font-size: 2rem;
}
.secondaryText{
    color: rgb(140, 139, 139);
    font-size: 0.9rem;
}
.icon{
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.accordion{
   margin-top: 2rem;
   border: none;
}
.accordion-item{
    background: white;
    border: none;
    border-bottom:2px solid rgba(128, 128, 128, 0.143) ;
    width: 90%;
    margin-bottom: 10px;
}
.accordion-button{
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;

}

.accordion-button .accordion-header{
font-size: 1.1rem;
font-weight: bold;
color: #A60311;
}